.badge {
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0.4rem 0.5rem;
  font-size: 0.7rem;
  text-transform: uppercase;

  &.badge-success {
    background-color: $aero;
    color: $secondary;
  }

  &.inline {
    margin-right: 5px;
  }

  &.badge-sm {
    font-size: 0.55rem;
  }
  &.badge-xs {
    font-size: 0.55rem;
    padding: 2px 4px;
  }
}
