.date-item {
  background-color: $gray-200;
  border-radius: 5px;
  padding: 6px 10px;
  text-align: center;
  width: 65px;
  margin-right: 2rem;

  .day {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
  }

  .month {
    font-size: 11px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
  }

  .year {
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.1;
    color: $gray-600;
  }

  &.size-sm {
    padding: 5px;
    width: 44px;

    .day {
      font-size: 18px;
    }
    .month {
      font-size: 10px;
    }
    .year {
      font-size: 9px;
    }
  }

  &.inline {
    display: inline-block;
    margin-right: 5px;
  }
}
